.search_part {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.search_part-panel {
  display: flex;
}

.search_part-panel-field {
  display: flex;
  align-items: center;
}

.search_part-panel-field-name {
  background-color: #2d0025;
  color: #ffffff;
  width: 60vw;
  height: 60px;
  border: none;
  border-radius: 100px;
  font-size: 24px;
  padding-left: 40px;
  outline: none;
}

.search_part-panel-field-name:not(:-moz-placeholder-shown) ~ .search_part-panel-field-label {
  transform: translateY(-35px);
  font-size: 20px;
  background-color: #d40080;
  color: #2d0025;
  cursor: default;
}

.search_part-panel-field-name:focus ~ .search_part-panel-field-label,
.search_part-panel-field-name:not(:placeholder-shown) ~ .search_part-panel-field-label {
  transform: translateY(-35px);
  font-size: 20px;
  background-color: #d40080;
  color: #2d0025;
  cursor: default;
}

.search_part-panel-field-label {
  color: #d2d2d2;
  position: absolute;
  cursor: text;
  font-size: 24px;
  margin-left: 40px;
  padding: 2px 10px;
  border-radius: 100px;
  transition-duration: 400ms;
  transition-property: font-size, transform, background-color, color;
}

.search_part-panel-butt {
  background: linear-gradient(to right, #d40080, #9b009e);
  border: none;
  border-radius: 100px;
  width: 200px;
  margin-left: 50px;
  font-size: 24px;
  color: white;
  font-family: "Comfortaa";
  cursor: pointer;
}

.search_part-panel-field-filter {
  margin-left: -60px;
  cursor: pointer;
}

.search_part-filter_panel {
  margin-top: 50px;
  width: 55%;
  height: 250px;
  background-color: #2d0025;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 30px;
  border-radius: 20px;
}

.search_part-filter_panel-year-title,
.search_part-filter_panel-rate-title {
  font-weight: 400;
}

.search_part-filter_panel-rate-value {
  margin-top: 40px;
  font-size: 24px;
}

.search_part-filter_panel-rate-inpt {
  margin-top: 50px;
  width: 250px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 100px;
}

.search_part-filter_panel-rate-inpt::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #ff00c7, #cc00ff);
  height: 10px;
  border-radius: 100px;
}

.search_part-filter_panel-rate-inpt::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #cc00ff;
  margin-top: -3px;
}

.search_part-filter_panel-rate-inpt:active::-webkit-slider-thumb {
  background: #9000b4;
}

.search_part-filter_panel-year_field {
  margin-top: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.search_part-filter_panel-year-arrows {
  position: absolute;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.search_part-filter_panel-year-arrows-elem {
  cursor: pointer;
}

.search_part-films {
  min-height: 200px;
  margin-top: 100px;
}

.search_part-films-elem-image {
  width: 250px;
}

.warn {
  text-align: center;
  color: rgb(207, 207, 207);
  font-size: 20px;
}

.search_part-films-elem {
  display: flex;
  color: white;
}

.search_part-films-elem:not(:last-child) {
  margin-bottom: 50px;
}

.search_part-films-elem-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.search_part-films-elem-info-name {
  font-size: 32px;
}

.search_part-films-elem-info-genres {
  font-size: 20px;
}

.search_part-films-elem-info-year {
  font-size: 24px;
}

.search_part-films-elem-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

.search_part-films-elem-infos {
  width: 40vw;
}

.search_part-films-elem-funcs {
  display: flex;
}

.search_part-films-elem-funcs-watch {
  margin-left: 10vw;
}

.search_part-films-elem-funcs-watch {
  width: 250px;
  background: linear-gradient(30deg, #cc00ff, #ff00c7);
  border: none;
  border-radius: 100px;
  font-size: 24px;
  height: 55px;
  color: white;
  font-family: "Comfortaa";
  cursor: pointer;
}

.search_part-films-elem-funcs-inlike {
  border-radius: 50%;
  background-color: #1d0018;
  position: absolute;
  width: 42px;
  height: 42px;
  padding: 5px;
  fill: #cc00ff;
  transition: background-color 200ms;
}

.inlike_icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mask {
  background: linear-gradient(30deg, #cc00ff, #ff00c7);
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.inlike_icon:hover .search_part-films-elem-funcs-inlike {
  background-color: white;
}

.search_text {
  font-size: 24px;
  color: #777;
  margin-bottom: 50px;
}

@media screen and (max-width: 1220px) {
  .search_part-filter_panel {
    width: 80%;
  }
  .search_part-filter_panel-rate-title,
  .search_part-filter_panel-year-title,
  .search_part-filter_panel-year-value,
  .search_part-filter_panel-rate-value {
    font-size: 20px;
  }
  .search_part-filter_panel-year-arrows {
    width: 120px;
  }
  .search_part-filter_panel-rate-inpt {
    width: 120%;
  }
  .search_part-filter_panel-year-arrows-elem {
    width: 20px;
  }
}
@media screen and (max-width: 970px) {
  .search_part-filter_panel-rate-title,
  .search_part-filter_panel-year-title,
  .search_part-filter_panel-year-value,
  .search_part-filter_panel-rate-value {
    font-size: 16px;
  }
  .search_part-filter_panel-rate-value,
  .search_part-filter_panel-rate-inpt,
  .search_part-filter_panel-year_field {
    margin-top: 20px;
  }
  .search_part-filter_panel {
    width: 80%;
    height: 150px;
  }
  .search_part-filter_panel-year-arrows {
    width: 100px;
  }
  .search_part-filter_panel-year-arrows-elem {
    width: 15px;
  }
}
@media screen and (max-width: 590px) {
  .search_part-filter_panel {
    width: 90%;
  }
}
@media screen and (max-width: 1080px) {
  .search_part-films-elem-info {
    height: 200px;
  }
  .search_part-films-elem-infos {
    width: 80vw;
  }
}
@media screen and (max-width: 1024px) {
  .search_part-panel-field-filter {
    width: 38px;
  }
  .search_part-panel-field-name {
    height: 50px;
    font-size: 20px;
  }
  .search_part-panel-field-label {
    font-size: 20px;
    margin-left: 30px;
  }
  .search_part-panel-field-name:not(:-moz-placeholder-shown) ~ .search_part-panel-field-label {
    transform: translateY(-30px) translateX(-10px);
    font-size: 16px;
  }
  .search_part-panel-field-name:focus ~ .search_part-panel-field-label,
  .search_part-panel-field-name:not(:placeholder-shown) ~ .search_part-panel-field-label {
    transform: translateY(-30px) translateX(-10px);
    font-size: 16px;
  }
  .search_part-panel-butt {
    width: 150px;
    font-size: 20px;
  }
  .search_part-films-elem-info-name {
    font-size: 28px;
  }
  .search_part-films {
    margin-top: 80px;
  }
  .search_part-films-elem-info-genres {
    font-size: 16px;
  }
  .search_part-films-elem-info-year {
    font-size: 20px;
  }
  .search_part-films-elem-funcs-inlike {
    height: 40px;
    width: 40px;
  }
  .mask {
    width: 44px;
    height: 44px;
  }
  .inlike_icon:hover .search_part-films-elem-funcs-inlike {
    background-color: #1d0018;
  }
  .inlike_icon:active .search_part-films-elem-funcs-inlike {
    background-color: white;
  }
  .search_part-films-elem-image {
    width: 200px;
  }
  .search_part-films-elem-funcs-watch {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .search_part {
    width: 85%;
  }
  .search_part-films {
    margin-top: 60px;
  }
  .search_part-panel-field-filter {
    width: 35px;
  }
  .search_part-panel-field-name {
    height: 45px;
    font-size: 18px;
  }
  .search_part-panel-field-label {
    font-size: 18px;
    margin-left: 25px;
  }
  .search_part-panel-field-name:not(:-moz-placeholder-shown) ~ .search_part-panel-field-label {
    transform: translateY(-28px) translateX(-10px);
    font-size: 14px;
  }
  .search_part-panel-field-name:focus ~ .search_part-panel-field-label,
  .search_part-panel-field-name:not(:placeholder-shown) ~ .search_part-panel-field-label {
    transform: translateY(-28px) translateX(-10px);
    font-size: 14px;
  }
  .search_part-panel-butt {
    width: 120px;
    font-size: 18px;
    margin-left: 35px;
  }
  .search_part-films-elem-info {
    height: 150px;
  }
  .search_part-films-elem-info-name {
    font-size: 24px;
  }
  .search_part-films-elem-info-genres {
    font-size: 14px;
  }
  .search_part-films-elem-info-year {
    font-size: 16px;
  }
  .search_part-films-elem-funcs-inlike {
    height: 35px;
    width: 35px;
  }
  .mask {
    width: 39px;
    height: 39px;
  }
  .search_part-films-elem-image {
    width: 160px;
  }
  .warn {
    font-size: 16px;
  }
  .search_part {
    margin-top: 100px;
  }
  .search_text {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .search_part-films-elem-funcs-watch {
    width: 180px;
    height: 45px;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .search_part-panel-field-name {
    height: 40px;
    font-size: 16px;
  }
  .search_part-panel-field-label {
    font-size: 16px;
    margin-left: 20px;
  }
  .search_part-films-elem:not(:last-child) {
    margin-bottom: 30px;
  }
  .search_part-panel-field-name:not(:-moz-placeholder-shown) ~ .search_part-panel-field-label {
    transform: translateY(-25px) translateX(-8px);
    font-size: 12px;
  }
  .search_part-panel-field-name:focus ~ .search_part-panel-field-label,
  .search_part-panel-field-name:not(:placeholder-shown) ~ .search_part-panel-field-label {
    transform: translateY(-25px) translateX(-8px);
    font-size: 12px;
  }
  .search_part {
    width: 90%;
  }
  .search_part-panel-butt {
    width: 150px;
    font-size: 16px;
    margin-left: 50px;
  }
  .search_part-films-elem-info {
    height: 130px;
  }
  .search_part-films-elem-info-name {
    font-size: 20px;
  }
  .search_part-films-elem-info-genres {
    font-size: 12px;
  }
  .search_part-films-elem-info-year {
    font-size: 14px;
  }
  .search_part-films-elem-funcs-inlike {
    height: 32px;
    width: 32px;
  }
  .mask {
    width: 36px;
    height: 36px;
  }
  .search_part-films-elem-image {
    width: 120px;
  }
  .search_part {
    margin-top: 80px;
  }
  .search_part-films-elem-funcs-watch {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }
}
@media screen and (max-width: 482px) {
  .search_part-films-elem-info {
    height: 100px;
  }
  .search_part-panel-butt {
    margin-left: 10px;
  }
  .search_part-films {
    margin-top: 40px;
  }
  .search_part-films-elem-info-name {
    font-size: 16px;
  }
  .search_part-panel-field-filter {
    display: none;
  }
  .warn {
    font-size: 14px;
  }
  .search_text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .search_part-films-elem-info-genres {
    font-size: 10px;
  }
  .search_part-filter_panel {
    display: none;
  }
  .search_part-films-elem-info-year {
    font-size: 12px;
  }
  .search_part {
    margin-top: 60px;
  }
  .search_part-films-elem-funcs-inlike {
    height: 28px;
    width: 28px;
  }
  .mask {
    width: 30px;
    height: 30px;
  }
  .search_part-films-elem:not(:last-child) {
    margin-bottom: 20px;
  }
  .search_part-films-elem-image {
    width: 100px;
  }
  .search_part-films-elem-funcs-watch {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 408px) {
  .search_part-films-elem-info {
    height: 80px;
  }
  .search_part-films-elem-info-name {
    font-size: 12px;
  }
  .search_part-panel {
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
  }
  .warn {
    font-size: 12px;
  }
  .search_text {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .search_part-panel-butt {
    height: 40px;
    margin-left: 0;
  }
  .search_part-panel-field-name {
    width: 100%;
  }
  .search_part-films-elem-info-genres {
    font-size: 10px;
  }
  .search_part-films-elem-info-year {
    font-size: 10px;
  }
  .search_part-films-elem-funcs-inlike {
    height: 22px;
    width: 22px;
  }
  .search_part {
    margin-top: 50px;
  }
  .mask {
    width: 24px;
    height: 24px;
  }
  .search_part-films-elem-image {
    width: 80px;
  }
  .search_part-films-elem-funcs-watch {
    width: 80px;
    height: 25px;
    font-size: 10px;
  }
}/*# sourceMappingURL=styles.css.map */