.film_page_header-bc {
  height: 80vh;
  width: 70%;
  background-image: url("https://i.playground.ru/p/1ZuTqkMQEZmfq6QuPFZe6w.png");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
}

.film_page_header-bc::after {
  content: "";
  height: 80vh;
  width: 70%;
  position: absolute;
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #1d0018);
}

.film_page_header-bc::before {
  content: "";
  height: 80vh;
  width: 70%;
  position: absolute;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1d0018);
  background-repeat: no-repeat;
}

.film_page_header-content-logo {
  font-size: 32px;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.film_page_header-content-logo b {
  color: rgb(225, 0, 255);
}

.film_page_header-content {
  padding: 2vw 3vw;
  position: absolute;
  z-index: 99;
  color: white;
}

.film_page_header-content-title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 90px;
  padding-top: 10vw;
}

.film_page_header-content-description {
  font-family: "Inter";
  font-size: 24px;
  padding-top: 1vw;
}

.film_page_header-content-description b {
  color: #db00b7;
}

.film_page_main {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  row-gap: 80px;
  padding: 200px 0;
  font-family: "Inter";
}

.film_page_main-elem-poster {
  height: 19.5vw;
  width: 13vw;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: var(--posterUrl);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 300ms;
}

.film_page_main-elem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: -moz-min-content;
  width: min-content;
  justify-self: center;
  text-decoration: none;
}

.film_page_main-elem:hover .film_page_main-elem-poster {
  transform: scale(1.03) translateY(-10px);
}

.film_page_main-elem-name {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.film_page_main-elem-year_n_genre {
  color: rgb(172, 172, 172);
  font-weight: 500;
}

@media screen and (max-width: 1440px) {
  .film_page_header-content-title {
    font-size: 84px;
  }
  .film_page_main-elem-poster {
    height: 23vw;
    width: 15.5vw;
  }
}
@media screen and (max-width: 1170px) {
  .film_page_header-content-title {
    font-size: 72px;
  }
  .film_page_header-content-description {
    font-size: 20px;
  }
  .film_page_header-bc,
  .film_page_header-bc::after,
  .film_page_header-bc::before {
    height: 50vw;
    width: 70%;
    background-position: center;
  }
  .film_page_header-bc::after,
  .film_page_header-bc::before {
    height: 51vw;
  }
  .film_page_main {
    grid-template-columns: repeat(4, 25%);
  }
  .film_page_main {
    padding: 150px 0;
    width: 90%;
    margin: auto;
  }
  .film_page_main-elem-poster {
    height: 27vw;
    width: 18vw;
  }
}
@media screen and (max-width: 768px) {
  .film_page_header-content-title {
    font-size: 64px;
  }
  .film_page_header-content-description {
    font-size: 16px;
  }
  .film_page_header-content-logo {
    font-size: 24px;
  }
  .film_page_main-elem-name,
  .film_page_main-elem-year_n_genre {
    font-size: 12px;
  }
}
@media screen and (max-width: 620px) {
  .film_page_main {
    grid-template-columns: repeat(3, 33.3%);
  }
  .film_page_main {
    width: 95%;
  }
  .film_page_main-elem-poster {
    height: 38vw;
    width: 25vw;
  }
  .film_page_main-elem-name,
  .film_page_main-elem-year_n_genre {
    font-size: 14px;
  }
}
@media screen and (max-width: 510px) {
  .film_page_main {
    grid-template-columns: repeat(2, 50%);
  }
  .film_page_main {
    width: 100%;
  }
  .film_page_main-elem-poster {
    height: 50vw;
    width: 35vw;
  }
  .film_page_main {
    padding: 50px 0;
    margin: 50px 0;
    row-gap: 30px;
  }
  .film_page_main-elem-name,
  .film_page_main-elem-year_n_genre {
    font-size: 14px;
  }
  .film_page_header-content-title {
    font-size: 52px;
  }
  .film_page_header-content-description {
    font-size: 14px;
  }
  .film_page_header-content-logo {
    font-size: 20px;
  }
}
@media screen and (max-width: 390px) {
  .film_page_main {
    grid-template-columns: repeat(2, 50%);
  }
  .film_page_header-content-title {
    font-size: 40px;
  }
  .film_page_header-content-description {
    font-size: 12px;
  }
  .film_page_header-content-logo {
    font-size: 16px;
  }
  .film_page_main-elem-poster {
    height: 48vw;
    width: 33vw;
  }
  .film_page_main-elem-name,
  .film_page_main-elem-year_n_genre {
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .film_page_header-content-title {
    font-size: 24px;
  }
  .film_page_header-content-description {
    font-size: 10px;
  }
  .film_page_header-content-logo {
    font-size: 14px;
  }
  .film_page_main {
    row-gap: 20px;
  }
  .film_page_main-elem-name,
  .film_page_main-elem-year_n_genre {
    font-size: 10px;
  }
  .film_page_header-bc {
    height: 60vw;
  }
  .film_page_header-bc::after,
  .film_page_header-bc::before {
    height: 61vw;
  }
}/*# sourceMappingURL=styles.css.map */