body {
  background: #1d0018;
}

hr {
  width: 95%;
  margin: auto;
  border: none;
  border-top: 1px solid #18001479;
}

.film {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: #2c0025;
  color: white;
}

.film-panel {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.film-panel-filter {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.film-panel-filter-elem {
  list-style-type: none;
  width: max-content;
  outline: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.film-panel-filter-list {
  position: absolute;
  margin-top: 15px;
  width: max-content;
  background-color: #c500a4;
  border-radius: 5px;
}

.film-panel-filter-list li {
  list-style-type: none;
  outline: none;
  padding: 8px 20px;
  font-size: 20px;
  color: white;
  transition: background-color 200ms;
  border-radius: 5px;
}

.film-panel-filter-list li:hover {
  background-color: #b60098;
  border-radius: 5px;
}

.currentOpp {
  display: flex;
  align-items: center;
  background-color: #c500a4;
  padding: 8px 20px;
  border-radius: 5px;
  transition: background-color 200ms;
}

.currentOpp:hover {
  background-color: #910179;
}

.currentOpp:active {
  background-color: #740060;
}

.search_part-films-elem-funcs-inlike {
  background-color: #2c0025;
}

.film-content {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 100px;
}

.film-panel-filter-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.film-panel-filter-grid-content {
  cursor: pointer;
  color: #630052;
  padding: 5px;
  font-size: 35px;
  transition-property: background-color, color;
  transition-duration: 200ms;
}

.film-panel-filter-grid-content.active {
  background-color: #d800b4;
  color: #ffffff;
  padding: 5px;
  font-size: 35px;
}

.search_part-films-elem-image {
  width: 250px;
  height: 350px;
  background-image: var(--poster);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search_part-films-elem-infos {
  width: auto;
}

.search_part-films-elem-info-name,
.film_sec-info-content-name {
  font-size: 24px;
  color: #ca00a9;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

.search_part-films-elem-info {
  justify-content: flex-start !important;
}

.search_part-films-elem-info-name:hover {
  text-decoration: underline;
}

.search_part-films-elem-info-genres {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.search_part-films-elem-info-year {
  font-size: 20px;
}

.search_part-films-elem {
  width: 100%;
}

.film-content.trd {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 0px;
  justify-content: space-between;
}

.search_part-films-elem.trd {
  justify-self: center;
}

.search_part-films-elem.trd {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.search_part-films-elem.trd .search_part-films-elem-info-name {
  font-size: 20px;
}

.search_part-films-elem.trd .search_part-films-elem-infos {
  width: 250px;
  padding-left: 0;
  padding-top: 10px;
}

.search_part-films-elem-info-year_trd {
  width: max-content;
}

.search_part-films-elem-image {
  width: 250px;
  height: auto;
}

.search_part-films-elem-image_trd {
  width: 13vw;
  height: 18vw;
  background-image: var(--poster);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search_part-films-elem.trd {
  margin: 0;
}

.film_sec {
  display: flex;
}

.film-content.sec {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
}

.film_sec-poster {
  width: 11vw;
  height: 16vw;
}

.film_sec-info-content-name {
  font-size: 20px;
}

.film_sec-info-content-year {
  font-size: 20px;
}

.film_sec-info-content-genres {
  margin: 20px 0;
}

.film_sec-info {
  margin-left: 10px;
}

.search_part-films-elem.trd .search_part-films-elem-infos {
  width: min-content;
}

@media screen and (max-width: 1100px) {
  .search_part-films-elem.trd .search_part-films-elem-info-name {
    font-size: 16px;
  }

  .search_part-films-elem-info-year_trd {
    font-size: 14px;
  }

  .search_part-films-elem-info {
    height: auto;
  }

  .search_part-films-elem:not(:last-child) {
    margin-bottom: 20px;
  }

  .film_sec-info-content-name {
    font-size: 16px;
  }
  
  .film_sec-info-content-year {
    font-size: 16px;
  }
  
  .film_sec-info-content-genres {
    font-size: 14px;
    margin: 15px 0;
  }
  
}

@media screen and (max-width: 1024px) {
  .search_part-films-elem-image_trd {
    width: 130px;
    height: auto;
  }

  .search_part-films-elem-info-name {
    font-size: 20px;
  }

  .search_part-films-elem-info-genres {
    font-size: 12px;
  }

  .search_part-films-elem-info-year {
    font-size: 16px;
  }

  .film-content {
    margin-top: 40px
  }

  .search_part-films-elem-image {
    width: 200px;
  }
}

@media screen and (max-width: 920px) {
  .film-content.trd {
    grid-template-columns: repeat(3, 33.3%);
  }

  .search_part-films-elem-image_trd {
    width: 100%;
    height: 24vw;
  }
}

@media screen and (max-width: 865px) {
  .search_part-films-elem-image {
    width: 180px;
  }

  .search_part-films-elem-image_trd {
    height: 26vw;
  }

  .film_sec-info-content-name {
    font-size: 14px;
  }
  
  .film_sec-info-content-year {
    font-size: 14px;
  }
  
  .film_sec-info-content-genres {
    font-size: 12px;
    margin: 10px 0;
  }

  .film_sec-info-content-name {
    font-size: 16px;
  }

  .film-panel {
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
  }
}

@media screen and (max-width: 750px) {

  .film-content {
    margin-top: 30px
  }

  .film_sec-info-content-name {
    font-size: 12px;
  }
  
  .film_sec-info-content-year {
    font-size: 12px;
  }
  
  .film_sec-info-content-genres {
    font-size: 10px;
    margin: 5px 0;
  }
  
}

@media screen and (max-width: 650px) {
  .search_part-films-elem-image_trd {
    height: 30vw;
  }

  .search_part-films-elem-image {
    width: 140px;
  }

  .film_sec-poster {
    width: 16vw;
    height: 21vw;
  }

  .film {
    width: 90%;
  }

  .film-panel {
    height: 120px;
  }

  .film-panel-filter,
  .film-panel-filter-elem,
  .film-panel-filter-elem li {
    font-size: 16px;
  }
}

@media screen and (max-width: 570px) {
  .film-content.trd {
    grid-template-columns: repeat(2, 50%);
  }

  .search_part-films-elem-image_trd {
    height: 40vw;
  }

  .film-content {
    margin-top: 20px
  }

  .film_sec-info-content-name {
    font-size: 12px;
  }
  
  .film_sec-info-content-year {
    font-size: 10px;
  }
  
  .film_sec-info-content-genres {
    font-size: 10px;
    margin: 5px 0;
  }

  .search_part-films-elem-info-name {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .search_part-films-elem-info-genres {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .search_part-films-elem-info-year {
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {
  .film-panel-filter,
  .film-panel-filter-elem,
  .film-panel-filter-elem li {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .search_part-films-elem-image_trd {
    width: 150px;
    height: auto;
  }

  .film-content.sec {
    grid-template-columns: repeat(1, 100%);
  }

  .film_sec-info-content-name {
    font-size: 14px;
  }
  
  .film_sec-info-content-year {
    font-size: 12px;
  }
  
  .film_sec-info-content-genres {
    font-size: 12px;
    margin: 10px 0;
  }

}

@media screen and (max-width: 460px) {
  .film-panel-filter,
  .film-panel-filter-elem,
  .film-panel-filter-elem li {
    font-size: 10px;
  }
}

@media screen and (max-width: 440px) {
  .film_sec-info-content-name {
    font-size: 12px;
  }
  
  .film_sec-info-content-year {
    font-size: 10px;
  }
  
  .film_sec-info-content-genres {
    font-size: 10px;
    margin: 5px 0;
  }

  .search_part-films-elem-info-name,
  .film_sec-info-content-name {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .search_part-films-elem-image_trd {
    width: 120px;
    height: auto;
  }

  .search_part-films-elem-info-genres {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .search_part-films-elem-info-year {
    font-size: 12px;
  }

  .search_part-films-elem-image {
    width: 100px;
    height: auto;
  }

  .search_part-films-elem-infos {
    padding-left: 10px;
  }
}

@media screen and (max-width: 375px) {
  .film {
    width: 95%;
  }

  .film-panel {
    padding: 20px;
  }
}

@media screen and (max-width: 380px) {
  .search_part-films-elem-info-name,
  .film_sec-info-content-name {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .search_part-films-elem-info-genres {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .search_part-films-elem-info-year {
    font-size: 10px;
  }

  .search_part-films-elem-infos {
    padding-left: 5px;
  }
}

@media screen and (max-width: 320px) {
  .search_part-films-elem.trd .search_part-films-elem-info-name {
    font-size: 12px;
  }

  .search_part-films-elem-info-year_trd {
    font-size: 10px;
  }

  .search_part-films-elem-image {
    width: 80px;
    height: auto;
  }

  .search_part-films-elem-image_trd {
    width: 100px;
    height: auto;
  }
}