.footer_content {
  width: 90%;
  margin: auto;
  margin-top: var(--global_marg);
  font-family: "Inter";
  color: white;
}

.footer_content-columns {
  margin-top: var(--global_marg);
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer_content-columns-content {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_content-columns-content li,
.footer_content-columns-content a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer_content-columns-content-title {
  font-size: 24px;
  font-weight: 600;
}

.footer_content-social {
  margin: var(--global_marg) 0;
  display: flex;
  justify-content: space-between;
}

.footer_content-social-logo_n_copy {
  display: flex;
  gap: 35px;
  align-items: center;
}

.footer_content-social-logo {
  font-size: 40px;
  font-weight: bold;
  font-family: "Comfortaa";
  filter: drop-shadow(0 0 10px #cc00ff);
}

.footer_content-social-copy {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 300;
}

.footer_content-social-links {
  display: flex;
  gap: 70px;
}

.footer_content-social-links img {
  width: 30px;
}

@media screen and (max-width: 1440px) {
  .footer_content-columns {
    width: 80%;
  }
  .footer_content-columns-content-title {
    font-size: 20px;
  }
  .footer_content-columns-content li,
  .footer_content-columns-content a {
    font-size: 14px;
  }
  .footer_content-columns-content {
    gap: 15px;
  }
  .footer_content-social-logo {
    font-size: 36px;
  }
  .footer_content-social-copy {
    font-size: 14px;
  }
  .footer_content-social-links {
    gap: 50px;
  }
  .footer_content-social-links img {
    width: 28px;
  }
  .footer_content-social-logo_n_copy {
    gap: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .footer_content-columns {
    width: 90%;
  }
  .footer_content-columns-content-title {
    font-size: 16px;
  }
  .footer_content-columns-content li,
  .footer_content-columns-content a {
    font-size: 12px;
  }
  .footer_content-columns-content {
    gap: 10px;
  }
  .footer_content-social-logo {
    font-size: 32px;
  }
  .footer_content-social-copy {
    font-size: 12px;
  }
  .footer_content-social-links {
    gap: 40px;
  }
  .footer_content-social-links img {
    width: 25px;
  }
  .footer_content-social {
    margin: 40px 0;
  }
  .footer_content-social-logo_n_copy {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer_content-columns {
    width: 100%;
  }
  .footer_content-columns-content-title {
    font-size: 14px;
  }
  .footer_content-columns-content li,
  .footer_content-columns-content a {
    font-size: 10px;
  }
  .footer_content-columns-content {
    gap: 10px;
  }
  .footer_content-social-logo {
    font-size: 24px;
  }
  .footer_content-social-copy {
    font-size: 10px;
  }
  .footer_content-social-links {
    gap: 30px;
  }
  .footer_content-social-links img {
    width: 20px;
  }
  .footer_content-social {
    margin: 30px 0;
  }
  .footer_content-social-logo_n_copy {
    gap: 15px;
  }
}
@media screen and (max-width: 630px) {
  .footer_content-social-logo {
    font-size: 36px;
  }
  .footer_content-social-copy {
    font-size: 14px;
  }
  .footer_content-social-logo_n_copy {
    margin: 20px 5px;
  }
  .footer_content {
    width: 95%;
  }
  .mobile_columns {
    margin-bottom: 20px;
  }
  .mobile_columns-content {
    margin: 0 5px;
    height: 50px;
    overflow: hidden;
    transition: height 400ms;
    display: flex;
    flex-direction: column;
  }
  .mobile_columns hr {
    background-color: rgba(204, 0, 255, 0.2470588235);
    width: 100%;
  }
  .mobile_columns-content-title {
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile_columns-content a {
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0;
  }
  .mobile_columns-content a:active {
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 10px white);
  }
  .mobile_columns-content.active {
    height: var(--real_height);
  }
  .mobile_columns-content-arrow {
    transition: transform 400ms;
  }
  .mobile_columns-content.active .mobile_columns-content-arrow {
    transform: rotate(-180deg);
  }
  .footer_content-social-links {
    margin: 0 5px;
    margin-bottom: 30px;
    gap: 40px;
  }
  .footer_content-social-links img {
    width: 30px;
  }
}
@media screen and (max-width: 370px) {
  .mobile_columns-content a {
    font-size: 16px;
    padding: 8px 0;
  }
  .mobile_columns-content-title {
    font-size: 20px;
  }
  .footer_content-social-links {
    margin-bottom: 20px;
    gap: 30px;
  }
  .footer_content-social-links img {
    width: 25px;
  }
  .footer_content-social-logo {
    font-size: 32px;
  }
  .footer_content-social-copy {
    font-size: 10px;
  }
}/*# sourceMappingURL=styles.css.map */