:root {
  --padding_info: 25px;
}

.selection {
  margin-top: 250px;
  color: white;
}

.selection-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.selection-films {
  margin: auto;
  margin-top: 200px;
  width: 80%;
}

.selection-films-elem {
  margin-bottom: 75px;
  display: flex;
}

.selection-films-elem-image {
  width: 300px;
  height: -moz-min-content;
  height: min-content;
}

.selection-films-elem-info {
  padding-left: 50px;
}

.selection-films-elem-info-name {
  font-size: 36px;
}

.selection-films-elem-info-description {
  padding-top: var(--padding_info);
  font-size: 20px;
}

.selection-films-elem-info-genres {
  font-size: 20px;
  padding-top: var(--padding_info);
}

.selection-films-elem-info-year {
  padding-top: var(--padding_info);
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  :root {
    --padding_info: 20px;
  }
  .selection {
    margin-top: 250px;
  }
  .selection-films {
    margin-top: 150px;
  }
  .selection-films-elem {
    margin-bottom: 50px;
  }
  .selection-films-elem-info {
    padding-left: 30px;
  }
  .selection-films-elem-image {
    width: 220px;
  }
  .selection-films-elem-info-name {
    font-size: 26px;
  }
  .selection-films-elem-info-description {
    font-size: 16px;
  }
  .selection-films-elem-info-genres {
    font-size: 16px;
  }
  .selection-films-elem-info-year {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .selection-title {
    font-size: 40px;
  }
  .selection {
    margin-top: 180px;
  }
  .selection-films {
    margin-top: 120px;
  }
  .selection-films-elem {
    margin-bottom: 40px;
  }
  :root {
    --padding_info: 15px;
  }
  .selection-films-elem-info {
    padding-left: 20px;
  }
  .selection-films-elem-image {
    width: 180px;
  }
  .selection-films-elem-info-name {
    font-size: 24px;
  }
  .selection-films-elem-info-description {
    font-size: 14px;
  }
  .selection-films-elem-info-genres {
    font-size: 14px;
  }
  .selection-films-elem-info-year {
    font-size: 16px;
  }
}
@media screen and (max-width: 534px) {
  .selection {
    margin-top: 130px;
  }
  .selection-films {
    margin-top: 100px;
  }
  .selection-title {
    font-size: 20px;
  }
  .selection-films-elem {
    margin-bottom: 30px;
  }
  :root {
    --padding_info: 10px;
  }
  .selection-films-elem-info {
    padding-left: 10px;
  }
  .selection-films-elem-image {
    width: 120px;
  }
  .selection-films-elem-info-name {
    font-size: 16px;
  }
  .selection-films-elem-info-description {
    font-size: 12px;
  }
  .selection-films-elem-info-genres {
    font-size: 12px;
  }
  .selection-films-elem-info-year {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .selection {
    margin-top: 100px;
  }
  .selection-films {
    margin-top: 50px;
  }
  .selection-title {
    font-size: 16px;
  }
  .selection-films-elem {
    margin-bottom: 25px;
  }
  :root {
    --padding_info: 10px;
  }
  .selection-films-elem-info {
    padding-left: 10px;
  }
  .selection-films-elem-image {
    width: 100px;
  }
  .selection-films-elem-info-name {
    font-size: 14px;
  }
  .selection-films-elem-info-description {
    font-size: 10px;
  }
  .selection-films-elem-info-genres {
    font-size: 10px;
  }
  .selection-films-elem-info-year {
    font-size: 12px;
  }
}/*# sourceMappingURL=styles.css.map */